.widget {
  font-family: "Roboto";
  width: 514px;
  font-size: 14px;

  padding: 20px;
  border-radius: 6px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.header {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 25px;
}

.description {
  margin-bottom: 15px;
  color: #585858;
}

.selectedItemsContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  margin-bottom: 15px;
}

.actions {
  margin-bottom: 30px;
}
