.grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--itemWidth, 300px), 1fr)
  );
  grid-gap: var(--gridGap, 1.2rem);
}

.item {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 2px 0px, rgba(0, 0, 0, 0.1) 0px 0px 2px 0px;
}

.item__image-wrapper {
  position: relative;
  background-color: var(--color-accent);
}

.item__image-wrapper::before,
.item__image-wrapper::after {
  content: '';
  position: absolute;
  width: 0px;
  height: 0px;
}

.item__image-wrapper::before,
.item__image-wrapper::after,
.item__image {
  transition-property: transform;
  transition-timing-function: ease;
  transition-duration: 0.1s;
}

.item__image-wrapper::before {
  top: 0;
  left: 0;

  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 6px solid var(--color-accent);

  transform-origin: left center;
  transform: translateY(-6px) scale(0);
}

.item__image-wrapper::after {
  bottom: 0;
  right: 0;

  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid var(--color-accent);

  transform-origin: center bottom;
  transform: translateX(6px) scale(0);
}

.item__image-wrapper:hover .item__image {
  transform: translate(6px, -6px);
  transition-delay: 75ms;
}

.item__image-wrapper:hover::before {
  transform: translateY(-6px) scale(1);
  transition-delay: 75ms;
}

.item__image-wrapper:hover::after {
  transform: translateX(6px) scale(1);
  transition-delay: 75ms;
}

.item__image {
  aspect-ratio: 16 / 9;
  object-fit: contain;
  width: 100%;
}

.item__link {
  text-decoration: none;
  color: inherit;
}

.item__title {
  margin: 4px 4px 4px 8px;
  margin-left: 8px;
  overflow: hidden;

  color: black;
  font-size: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.item__title:hover {
  text-decoration: underline;
}

.item__subtitle {
  margin: 2px 4px 4px 8px;

  font-size: 12px;
  color: grey;
}