.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1.2rem;
}

.item {
  --color-border: #e6e6e6;
  --size-border: 6px;
  --delay-animation: 75ms;

  /* default property */
  --color-accent: var(--color-border);

  --color-github: #d1d5da;
  --color-github-hover: #6a737d;
}

.item__image-wrapper {
  position: relative;
  background-color: var(--color-accent);
}

.item__image-wrapper::before,
.item__image-wrapper::after {
  content: '';
  position: absolute;
  width: 0px;
  height: 0px;
}

.item__image-wrapper::before,
.item__image-wrapper::after,
.item__image {
  transition-property: transform;
  transition-timing-function: ease;
  transition-duration: var(--delay-animation);
}

.item__image-wrapper::before {
  top: 0;
  left: 0;

  border-top: var(--size-border) solid transparent;
  border-bottom: var(--size-border) solid transparent;
  border-right: var(--size-border) solid var(--color-accent);

  transform-origin: left center;
  transform: translateY(calc(var(--size-border) * -1)) scale(0);
}

.item__image-wrapper::after {
  bottom: 0;
  right: 0;

  border-left: var(--size-border) solid transparent;
  border-right: var(--size-border) solid transparent;
  border-top: var(--size-border) solid var(--color-accent);

  transform-origin: center bottom;
  transform: translateX(var(--size-border)) scale(0);
}

.item__image-wrapper:hover .item__image {
  transform: translate(var(--size-border), calc(var(--size-border) * -1));
  transition-delay: var(--delay-animation);

  border-bottom: none;
  border-left: none;
}

.item__image-wrapper:hover::before {
  transform: translateY(calc(var(--size-border) * -1)) scale(1);
  transition-delay: var(--delay-animation);
}

.item__image-wrapper:hover::after {
  transform: translateX(var(--size-border)) scale(1);
  transition-delay: var(--delay-animation);
}

.item__image {
  aspect-ratio: 16 / 9;
  object-fit: contain;
  width: 100%;

  border: 1px solid var(--color-border);
}

.item__link {
  text-decoration: none;
  color: inherit;
}

.item__caption {
  padding: 8px 48px 8px 8px;
  position: relative;

  border: 1px solid var(--color-border);
  border-top: none;
}

.item__github-icon {
  position: absolute;

  top: 18px;
  right: 18px;

  color: var(--color-github);
  fill: currentColor;
  transition: calc(var(--delay-animation) * 2) ease color;
}

.item__github-icon:hover {
  color: var(--color-github-hover);
}

.item__title {
  margin: 0;
  overflow: hidden;

  color: black;
  font-size: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.item__title:hover {
  text-decoration: underline;
}

.item__subtitle {
  margin-top: 2px;

  font-size: 12px;
  color: grey;
}
